{{extend 'layout.html'}}
{{extend 'layout.html'}}
<h1>Procedimento aplicável</h1>

<h2>
{{if (emp == 'EIA' and UC == 'CZA' and uccza == 'IUC')  or (emp == 'EIA' and UC == 'CZA' and uccza == 'IZA')  or (emp == 'EIA' and UC == 'CZA' and uccza == 'FZA')  or (emp == 'SEIA' and UC == 'CZA' and uccza == 'IUC')  or (emp == 'SEIA' and UC == 'CZA' and uccza == 'FZA')  or (emp == 'EIA' and UC == 'SZA' and ucsza1 == 'IUC')  or (emp == 'EIA' and UC == 'SZA' and ucsza1 == 'ZPD3')  or (emp == 'SEIA' and UC == 'SZA' and ucsza2 == 'IUC'):}} O órgão licenciador deve requerer AUTORIZAÇÃO do ICMBio para o licenciamento ambiental em curso nos termos do Art. 1º da Resolução CONAMA nº 428/2010 e Instrução Normativa ICMBio nº 07/2014.

{{elif (emp == 'SEIA' and UC == 'CZA' and uccza == 'IZA')  or (emp == 'SEIA' and UC == 'SZA' and ucsza2 == 'ZPD2'):}} O órgão licenciador deve dar CIÊNCIA ao ICMBio do licenciamento ambiental em curso nos termos do Art. 5º da Resolução CONAMA nº 428/2010 e e Instrução Normativa ICMBio nº 07/2014.

{{elif (emp == 'NALIC' and UC == 'CZA' and uccza == 'IUC')  or (emp == 'NALIC' and UC == 'SZA' and ucnalic == 'IUC')  or (emp == 'EIA' and UC == 'NAZA' and ucnaza == 'IUC')  or (emp == 'SEIA' and UC == 'NAZA' and ucnaza == 'IUC')  or (emp == 'NALIC' and UC == 'NAZA' and ucnaza == 'IUC'):}} O interessado deve requerer autorização diretamente à Unidade de Conservação (AUTORIZAÇÃO DIRETA), nos termos da Instrução Normativa ICMBio nº 04/2009.

{{else:}} Não é necessária manifestação do ICMBio.{{pass}}
</h2>

<h2>
{{if UC == 'SZA' and (emp == 'EIA' or emp == 'SEIA'):}} Em unidades de conservação que não possuem ZA, as faixas de 3 e 2 km a partir dos limites da UC são entendidas como Zonas de Presunção de Danos exceto em APA e RPPN, aplicáveis para empreendimentos/atividades licenciados com EIA-RIMA e sem EIA-RIMA, respectivamente conforme Resolução CONAMA nº 428/2010.{{pass}}
</h2>
